<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<title> header </title>

<script>
	$(document).ready(async function(){
		
		await $.ajax({
			url : "/sellerinfo",
			success : function(data) {
				$("<span>").text(data.result.sId).appendTo("#loninseller")
			}
		})
		
		$(document).on("click", "#sellerlogout", function() {
			$("<form>").attr("id", "logoutform").attr("action", "/seller/logout").attr("method", "post").appendTo("#header");
			$("#logoutform").submit();	
		})
	})
</script>

</head>
<body>
	<div id="header">
		<div id="headerlogo">
			<h1> <span>  <a href="/seller/seller/home"> 판매자센터 </a> </span> </h1>
 		</div>
		<div id="headerseller">
			<div id="loninseller"></div>
				<button id="sellerlogout"> 로그아웃 </button>
		</div>
	</div>
</body>
</html>